In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('./csv/전체데이터_2011_코스피코스닥_1차전처리_v1.0.csv', encoding='cp949')
df.drop(columns=['Unnamed: 0'], inplace=True)
df

            회사명  거래소코드    회계년도 이자보상배율(이자비용)(IFRS) 이자보상배율(이자비용)(IFRS연결)  이자보상배율
0      (주)CMG제약  58820  11-Dec               3.94                 3.53    3.53
1      (주)CMG제약  58820  12-Dec              -7.45                -7.75   -7.75
2      (주)CMG제약  58820  13-Dec               0.73                  0.7    0.70
3      (주)CMG제약  58820  14-Dec               3.63                  3.6    3.60
4      (주)CMG제약  58820  15-Dec              -32.2               -32.22  -32.22
...         ...    ...     ...                ...                  ...     ...
15145   흥아해운(주)   3280  15-Dec               0.79                 1.02    1.02
15146   흥아해운(주)   3280  16-Dec               0.04                 0.21    0.21
15147   흥아해운(주)   3280  17-Dec              -0.61                -0.42   -0.42
15148   흥아해운(주)   3280  18-Dec              -1.26                -1.16   -1.16
15149   흥아해운(주)   3280  19-Dec              -0.58                -0.55    0.00

[15150 rows x 6 columns]

In [2]:
df['이자보상배율'] = df['이자보상배율'].astype(float)
df

            회사명  거래소코드    회계년도 이자보상배율(이자비용)(IFRS) 이자보상배율(이자비용)(IFRS연결)  이자보상배율
0      (주)CMG제약  58820  11-Dec               3.94                 3.53    3.53
1      (주)CMG제약  58820  12-Dec              -7.45                -7.75   -7.75
2      (주)CMG제약  58820  13-Dec               0.73                  0.7    0.70
3      (주)CMG제약  58820  14-Dec               3.63                  3.6    3.60
4      (주)CMG제약  58820  15-Dec              -32.2               -32.22  -32.22
...         ...    ...     ...                ...                  ...     ...
15145   흥아해운(주)   3280  15-Dec               0.79                 1.02    1.02
15146   흥아해운(주)   3280  16-Dec               0.04                 0.21    0.21
15147   흥아해운(주)   3280  17-Dec              -0.61                -0.42   -0.42
15148   흥아해운(주)   3280  18-Dec              -1.26                -1.16   -1.16
15149   흥아해운(주)   3280  19-Dec              -0.58                -0.55    0.00

[15150 rows x 6 columns]

In [3]:
# 분석 과정에서 NaN이 NaN이 아닌 다른 어떤 값인 것으로 판명되었습니다.
# 어쩔 수 없이 분석의 용이함을 위해 임의의 값을 채웠습니다
# df = df.fillna(77777.77)

# 이건 우리의 기준에 맞는 이자보상 배율을 저장하기 위한 컬럼입니다.
# df['이자보상배율'] = 0.0

In [4]:
# df_1 = df[['회사명','거래소코드','회계년도','이자보상배율(이자비용)(IFRS)']]
# df_2 = df[['회사명','거래소코드','회계년도','이자보상배율(이자비용)(IFRS연결)']]

In [5]:
# 현재 데이터 기준으로 한계기업과 4년 연속 이.보.배 1 미만인 기업을 찾을 겁니다

f_company = [] # 한계기업을 저장하는 리스트
f_company_x = [] # 4년 연속 이자보상배율 1 미만인 기업 삽입
count = 0 # 한계기업 카운트용
company = 'x' # 한계기업 기록용

# 이거도 csv 한바퀴 돌립니다
for i in range(0, len(df)-1):

    # 회사명이 이미 기록된 상태에서 또 중복으로 적을 필요는 없습니다
    if company == df.loc[i]['회사명']:
        # 다만 그 기업이 한계기업인데
        if count > 3:
            # 어머? 4년 연속이네요? 기록!!!
            if df.iloc[i]['이자보상배율'] < 1:
                f_company_x.append(company)
                count = 0

                # 반복문에서 볼일 다 끝났으니 통과합니다
                continue
        
        # 그게 아니라면 반복문을 통과합니다
        continue

    # 이자보상배율이 1 미만인 경우 카운트를 늘립니다
    if df.iloc[i]['이자보상배율'] < 1:
            count += 1
    # 도중에 이자보상배율이 1 미만이면 탈출합니다
    else:
        count = 0

    # 한계 기업 클럽에 오셨습니다. 환영합니다.
    if count == 3:
        company = df.loc[i]['회사명']
        f_company.append(company)
        count += 1

In [6]:
# # 현재 데이터 기준으로 한계기업과 4년 연속 이.보.배 1 미만인 기업을 찾을 겁니다

# f_company_1 = [] # 한계기업을 저장하는 리스트
# f_company_x_1 = [] # 4년 연속 이자보상배율 1 미만인 기업 삽입
# count_1 = 0 # 한계기업 카운트용
# company_1 = 'x' # 한계기업 기록용

# # 이거도 csv 한바퀴 돌립니다
# for i in range(0, len(df_2)-1):

#     # 회사명이 이미 기록된 상태에서 또 중복으로 적을 필요는 없습니다
#     if company_1 == df_2.iloc[i]['회사명']:
#         # 다만 그 기업이 한계기업인데
#         if count > 3:
#             # 어머? 4년 연속이네요? 기록!!!
#             if df_2.iloc[i]['이자보상배율(이자비용)(IFRS연결)'] < 1:
#                 f_company_x_1.append(company_1)
#                 count = 0

#                 # 반복문에서 볼일 다 끝났으니 통과합니다
#                 continue
        
#         # 그게 아니라면 반복문을 통과합니다
#         continue

#     # 이자보상배율이 1 미만인 경우 카운트를 늘립니다
#     if df_2.iloc[i]['이자보상배율(이자비용)(IFRS연결)'] < 1:
#             count += 1
#     # 도중에 이자보상배율이 1 미만이면 탈출합니다
#     else:
#         count = 0

#     # 한계 기업 클럽에 오셨습니다. 환영합니다.
#     if count == 3:
#         company_1 = df_2.iloc[i]['회사명']
#         f_company_1.append(company_1)
#         count += 1

In [7]:
# 분명히 이거보다 더 좋은 방법이 있을건데
# 맷돌이 굴러가질 않네요

# 이건 f_company 리스트에 들어잇는 데이터와 일치하면 True, 아니면 False를 반환합니다
df_3 = df.isin(f_company)
df_3

         회사명  거래소코드   회계년도  이자보상배율(이자비용)(IFRS)  이자보상배율(이자비용)(IFRS연결)  이자보상배율
0      False  False  False               False                 False   False
1      False  False  False               False                 False   False
2      False  False  False               False                 False   False
3      False  False  False               False                 False   False
4      False  False  False               False                 False   False
...      ...    ...    ...                 ...                   ...     ...
15145   True  False  False               False                 False   False
15146   True  False  False               False                 False   False
15147   True  False  False               False                 False   False
15148   True  False  False               False                 False   False
15149   True  False  False               False                 False   False

[15150 rows x 6 columns]

In [8]:
# # 분명히 이거보다 더 좋은 방법이 있을건데
# # 맷돌이 굴러가질 않네요

# # 이건 f_company 리스트에 들어잇는 데이터와 일치하면 True, 아니면 False를 반환합니다
# df_4 = df_2.isin(f_company_1)
# df_4

In [9]:
df_5 = [] # 임시 저장용 리스트

# 그렇게 만든 데이터프레임을 기존과 비교해서 True인 애들만 뽑아옵니다
for i in range(0, len(df_3)-1):
    if df_3.iloc[i]["회사명"] == True:
        df_5.append(df.loc[i])
        
df_5_frame = pd.DataFrame(df_5).reset_index(drop=True)

In [10]:
# 4년 연속 이자 보상 배율이 1 미만인 기업들도 똑같이 해봅니다

df_6 = df.isin(f_company_x)
df_7 = []

for i in range(0, len(df_6)-1):
    if df_6.iloc[i]["회사명"] == True:
        df_7.append(df.loc[i])

df_7_frame = pd.DataFrame(df_7).reset_index(drop=True)

In [11]:
# df_8 = [] # 임시 저장용 리스트

# # 그렇게 만든 데이터프레임을 기존과 비교해서 True인 애들만 뽑아옵니다
# for i in range(0, len(df_4)-1):
#     if df_4.iloc[i]["회사명"] == True:
#         df_8.append(df_2.loc[i])
        
# df_8_frame = pd.DataFrame(df_8).reset_index(drop=True)

In [12]:
# # 4년 연속 이자 보상 배율이 1 미만인 기업들도 똑같이 해봅니다

# df_9 = df_1.isin(f_company_x_1)
# df_10 = []

# for i in range(0, len(df_9)-1):
#     if df_9.iloc[i]["회사명"] == True:
#         df_10.append(df_2.loc[i])

# df_10_frame = pd.DataFrame(df_10).reset_index(drop=True)

In [13]:
df_5_frame.copy()

           회사명  거래소코드    회계년도 이자보상배율(이자비용)(IFRS) 이자보상배율(이자비용)(IFRS연결)  이자보상배율
0     (주)DB하이텍    990  11-Dec              -0.69                -0.75   -0.75
1     (주)DB하이텍    990  12-Dec              -0.29                -0.31   -0.31
2     (주)DB하이텍    990  13-Dec              -0.16                -0.16   -0.16
3     (주)DB하이텍    990  14-Dec               0.67                 0.67    0.67
4     (주)DB하이텍    990  15-Dec               2.49                  2.5    2.50
...        ...    ...     ...                ...                  ...     ...
4471   흥아해운(주)   3280  14-Dec               0.96                 1.12    1.12
4472   흥아해운(주)   3280  15-Dec               0.79                 1.02    1.02
4473   흥아해운(주)   3280  16-Dec               0.04                 0.21    0.21
4474   흥아해운(주)   3280  17-Dec              -0.61                -0.42   -0.42
4475   흥아해운(주)   3280  18-Dec              -1.26                -1.16   -1.16

[4476 rows x 6 columns]

In [14]:
# df_5_frame.to_csv('3년연속성한계기업.csv',index=False,encoding='cp949')

In [15]:
# a.to_csv('3년연속한계기업.csv',index=False,encoding='cp949')

In [16]:
# df_7_frame.to_csv('4년째연속성나락간기업.csv',index=False,encoding='cp949')

In [17]:
# b.to_csv('4년째나락간기업.csv',index=False,encoding='cp949')

In [18]:
# pd.options.display.max_columns = None

In [19]:
# 한계기업 후보 기업의 숫자는 밑에 카운트를 봅시다
a = df_5_frame.copy()
a

           회사명  거래소코드    회계년도 이자보상배율(이자비용)(IFRS) 이자보상배율(이자비용)(IFRS연결)  이자보상배율
0     (주)DB하이텍    990  11-Dec              -0.69                -0.75   -0.75
1     (주)DB하이텍    990  12-Dec              -0.29                -0.31   -0.31
2     (주)DB하이텍    990  13-Dec              -0.16                -0.16   -0.16
3     (주)DB하이텍    990  14-Dec               0.67                 0.67    0.67
4     (주)DB하이텍    990  15-Dec               2.49                  2.5    2.50
...        ...    ...     ...                ...                  ...     ...
4471   흥아해운(주)   3280  14-Dec               0.96                 1.12    1.12
4472   흥아해운(주)   3280  15-Dec               0.79                 1.02    1.02
4473   흥아해운(주)   3280  16-Dec               0.04                 0.21    0.21
4474   흥아해운(주)   3280  17-Dec              -0.61                -0.42   -0.42
4475   흥아해운(주)   3280  18-Dec              -1.26                -1.16   -1.16

[4476 rows x 6 columns]

In [20]:
# 그래서 4년 연속인 애들이 얼마나 될까요? 밑에 숫자를 봅시다
b = df_7_frame.copy().drop_duplicates(['회사명'])
b

,회사명,거래소코드,회계년도,이자보상배율(이자비용)(IFRS),이자보상배율(이자비용)(IFRS연결),이자보상배율
0,(주)DB하이텍,990,11-Dec,-0.69,-0.75,-0.75
9,(주)HJ중공업,97230,11-Dec,0.34,0.55,0.55
18,(주)ST,11810,11-Dec,0.67,1.66,1.66
27,(주)강스템바이오텍,217730,15-Dec,-5.41,77777777.77,-5.41
32,(주)강원에너지,114190,11-Nov,393.9,77777777.77,393.90
...,...,...,...,...,...,...
3419,한올바이오파마(주),9420,11-Dec,-2.89,-2.88,-2.88
3428,한일철강(주),2220,11-Dec,1.03,0.87,0.87
3437,현대바이오사이언스(주),48410,11-Dec,-17.26,-18.41,-18.41
3446,휴림로봇(주),90710,11-Dec,3.57,2.96,2.96
3455,휴마시스(주),205470,14-Dec,77777777.77,-0.76,-0.76

In [21]:
# # 한계기업 후보 기업의 숫자는 밑에 카운트를 봅시다
# df_8_frame.copy().drop_duplicates(['회사명'])

In [22]:
# # 그래서 4년 연속인 애들이 얼마나 될까요? 밑에 숫자를 봅시다
# df_10_frame.copy().drop_duplicates(['회사명'])

In [23]:
df['이자스'] = df['이자보상배율'].shift().where(df.회사명.eq(df.회사명.shift()))

In [24]:
df

,회사명,거래소코드,회계년도,이자보상배율(이자비용)(IFRS),이자보상배율(이자비용)(IFRS연결),이자보상배율,이자스
0,(주)CMG제약,58820,11-Dec,3.94,3.53,3.53,NaN
1,(주)CMG제약,58820,12-Dec,-7.45,-7.75,-7.75,3.53
2,(주)CMG제약,58820,13-Dec,0.73,0.7,0.70,-7.75
3,(주)CMG제약,58820,14-Dec,3.63,3.6,3.60,0.70
4,(주)CMG제약,58820,15-Dec,-32.2,-32.22,-32.22,3.60
...,...,...,...,...,...,...,...
15145,흥아해운(주),3280,15-Dec,0.79,1.02,1.02,1.12
15146,흥아해운(주),3280,16-Dec,0.04,0.21,0.21,1.02
15147,흥아해운(주),3280,17-Dec,-0.61,-0.42,-0.42,0.21
15148,흥아해운(주),3280,18-Dec,-1.26,-1.16,-1.16,-0.42
15149,흥아해운(주),3280,19-Dec,-0.58,-0.55,0.00,-1.16

In [25]:
df['이자스'] = (df['이자스'] - df['매출액(수익)(*)(IFRS)(천원)'])/df['매출액(수익)(*)(IFRS)(천원)']

KeyError: '매출액(수익)(*)(IFRS)(천원)'