In [1]:
# 필수(?) 라이브러리 호출
import pandas as pd
import numpy as np

In [2]:
# 경고가 많아지면 곤란해서 추가
import warnings
warnings.filterwarnings('ignore')

In [3]:
# 일단 분석할 데이터를 가져오는데
df = pd.read_csv('./csv/전체데이터_2011_코스피코스닥_1차전처리_v1.0.csv', encoding='cp949').reset_index(drop=True)
df

,Unnamed: 0,회사명,거래소코드,회계년도,이자보상배율(이자비용)(IFRS),이자보상배율(이자비용)(IFRS연결),이자보상배율
0,0,(주)CMG제약,58820,11-Dec,3.94,3.53,3.53
1,1,(주)CMG제약,58820,12-Dec,-7.45,-7.75,-7.75
2,2,(주)CMG제약,58820,13-Dec,0.73,0.7,0.70
3,3,(주)CMG제약,58820,14-Dec,3.63,3.6,3.60
4,4,(주)CMG제약,58820,15-Dec,-32.2,-32.22,-32.22
...,...,...,...,...,...,...,...
15145,15145,흥아해운(주),3280,15-Dec,0.79,1.02,1.02
15146,15146,흥아해운(주),3280,16-Dec,0.04,0.21,0.21
15147,15147,흥아해운(주),3280,17-Dec,-0.61,-0.42,-0.42
15148,15148,흥아해운(주),3280,18-Dec,-1.26,-1.16,-1.16
15149,15149,흥아해운(주),3280,19-Dec,-0.58,-0.55,0.00

In [4]:
# 분석 과정에서 NaN이 NaN이 아닌 다른 어떤 값인 것으로 판명되었습니다.
# 어쩔 수 없이 분석의 용이함을 위해 임의의 값을 채웠습니다
# df = df.fillna(77777.77)

# # 이건 우리의 기준에 맞는 이자보상 배율을 저장하기 위한 컬럼입니다.
# df['이자보상배율'] = 0.0

In [6]:
# # csv 한바퀴 돌립니다
# for i in range(0,len(df)-1):
#     #print(i)

#     # 구 기준 회계값에 결측치가 없다면
#     if df.iloc[i]['이자보상배율(이자비용)'] != 77777.77:
#         # 신 기준 회계값에도 결측치가 없다면
#         if df.iloc[i]['이자보상배율(이자비용)(IFRS연결)'] != 77777.77:
#             # 신 회계값 삽입
#             df.loc[i, "이자보상배율"] = df.iloc[i]['이자보상배율(이자비용)(IFRS연결)']
#             #print(df.iloc[i]['이자보상배율(이자비용)(IFRS연결)'])

#         # 신 회계가 결측치라면
#         else:
#             df.loc[i, "이자보상배율"] = df.iloc[i]['이자보상배율(이자비용)'] # 구 회계값 삽입
#             #print(df.iloc[i]['이자보상배율(이자비용)'])

#     # 구 기준 회계값에 결측치가 있다면
#     else:
#         # 신 회계 기준 회계값에 결측치가 없다면
#         if df.iloc[i]['이자보상배율(이자비용)(IFRS연결)'] != 77777.77:
#             # 신 회계값 삽입
#             df.loc[i, "이자보상배율"] = df.iloc[i]['이자보상배율(이자비용)(IFRS연결)']
#             #print(df.iloc[i]['이자보상배율(이자비용)(IFRS연결)'])

#         # 이자보상배율에 대한 데이터가 아예 없는 경우 임의의 값 삽입
#         else:
#             df.loc[i, "이자보상배율"] = 11111111.11

In [7]:
df

,Unnamed: 0,회사명,거래소코드,회계년도,이자보상배율(이자비용)(IFRS),이자보상배율(이자비용)(IFRS연결),이자보상배율
0,0,(주)CMG제약,58820,11-Dec,3.94,3.53,3.53
1,1,(주)CMG제약,58820,12-Dec,-7.45,-7.75,-7.75
2,2,(주)CMG제약,58820,13-Dec,0.73,0.7,0.70
3,3,(주)CMG제약,58820,14-Dec,3.63,3.6,3.60
4,4,(주)CMG제약,58820,15-Dec,-32.2,-32.22,-32.22
...,...,...,...,...,...,...,...
15145,15145,흥아해운(주),3280,15-Dec,0.79,1.02,1.02
15146,15146,흥아해운(주),3280,16-Dec,0.04,0.21,0.21
15147,15147,흥아해운(주),3280,17-Dec,-0.61,-0.42,-0.42
15148,15148,흥아해운(주),3280,18-Dec,-1.26,-1.16,-1.16
15149,15149,흥아해운(주),3280,19-Dec,-0.58,-0.55,0.00

In [8]:
# 우리가 앞으로 작업을 엄청나게 복잡하게 할 걸 생각하면
# 중간중간 결과들을 데이터프레임으로 만들고 빼주는 게 좋습니다
df_2 = df[['회사명', '거래소코드', '회계년도', '이자보상배율']]
df_2

            회사명  거래소코드    회계년도  이자보상배율
0      (주)CMG제약  58820  11-Dec    3.53
1      (주)CMG제약  58820  12-Dec   -7.75
2      (주)CMG제약  58820  13-Dec    0.70
3      (주)CMG제약  58820  14-Dec    3.60
4      (주)CMG제약  58820  15-Dec  -32.22
...         ...    ...     ...     ...
15145   흥아해운(주)   3280  15-Dec    1.02
15146   흥아해운(주)   3280  16-Dec    0.21
15147   흥아해운(주)   3280  17-Dec   -0.42
15148   흥아해운(주)   3280  18-Dec   -1.16
15149   흥아해운(주)   3280  19-Dec    0.00

[15150 rows x 4 columns]

In [9]:
# 현재 데이터 기준으로 한계기업과 4년 연속 이.보.배 1 미만인 기업을 찾을 겁니다

f_company = [] # 한계기업을 저장하는 리스트
f_company_x = [] # 4년 연속 이자보상배율 1 미만인 기업 삽입
f_company_s = [] # 4년 연속 이자보상배율 1 이상인 기업 삽입
count = 0 # 한계기업 카운트용
company = 'x' # 한계기업 기록용

# 이거도 csv 한바퀴 돌립니다
for i in range(0, len(df_2)-1):

    # 회사명이 이미 기록된 상태에서 또 중복으로 적을 필요는 없습니다
    if company == df.iloc[i]['회사명']:
        # 다만 그 기업이 한계기업인데
        if count > 3:
            # 어머? 4년 연속이네요? 기록!!!
            if df.iloc[i]['이자보상배율'] < 1:
                f_company_x.append(company)
                count = 0
            elif df.iloc[i]['이자보상배율'] > 1:
                f_company_s.append(company)
                count += 1
        if count > 4:
            
            # 반복문에서 볼일 다 끝났으니 통과합니다
            continue
        
        # 그게 아니라면 반복문을 통과합니다
        continue

    # 이자보상배율이 1 미만인 경우 카운트를 늘립니다
    if df.iloc[i]['이자보상배율'] < 1:
            count += 1
    # 도중에 이자보상배율이 1 이상이면 탈출합니다
    else:
        count = 0

    # 한계 기업 클럽에 오셨습니다. 환영합니다.
    if count == 3:
        company = df.iloc[i]['회사명']
        f_company.append(company)
        count += 1

In [10]:
# 분명히 이거보다 더 좋은 방법이 있을건데
# 맷돌이 굴러가질 않네요

# 이건 f_company 리스트에 들어잇는 데이터와 일치하면 True, 아니면 False를 반환합니다
df_4 = df_2.isin(f_company)
df_4

         회사명  거래소코드   회계년도  이자보상배율
0      False  False  False   False
1      False  False  False   False
2      False  False  False   False
3      False  False  False   False
4      False  False  False   False
...      ...    ...    ...     ...
15145   True  False  False   False
15146   True  False  False   False
15147   True  False  False   False
15148   True  False  False   False
15149   True  False  False   False

[15150 rows x 4 columns]

In [11]:
df_5 = [] # 임시 저장용 리스트

# 그렇게 만든 데이터프레임을 기존과 비교해서 True인 애들만 뽑아옵니다
for i in range(0, len(df_4)-1):
    if df_4.iloc[i]["회사명"] == True:
        df_5.append(df_2.loc[i])
        
df_5_frame = pd.DataFrame(df_5).reset_index(drop=True)

In [12]:
# 4년 연속 이자 보상 배율이 1 미만인 기업들도 똑같이 해봅니다

df_6 = df_2.isin(f_company_x)
df_7 = []

for i in range(0, len(df_6)-1):
    if df_6.iloc[i]["회사명"] == True:
        df_7.append(df_2.loc[i])

df_7_frame = pd.DataFrame(df_7).reset_index(drop=True)

In [13]:
df_8 = df_2.isin(f_company_s)
df_9 = []

for i in range(0,len(df_8)-1):
    if df_8.iloc[i]['회사명'] == True:
        df_9.append(df_2.loc[i])
        
df_9_frame = pd.DataFrame(df_9).reset_index(drop = True)

In [19]:
# 한계기업 후보 기업의 숫자는 밑에 카운트를 봅시다
df_5_frame.copy().drop_duplicates(['회사명'])

               회사명   거래소코드    회계년도  이자보상배율
0         (주)DB하이텍     990  11-Dec   -0.75
9         (주)HJ중공업   97230  11-Dec    0.55
18           (주)ST   11810  11-Dec    1.66
27        (주)TCC스틸    2710  11-Dec    1.41
36      (주)강스템바이오텍  217730  15-Dec   -5.41
...            ...     ...     ...     ...
4435  현대바이오사이언스(주)   48410  11-Dec  -18.41
4444       현우산업(주)   92300  11-Dec    2.86
4453       휴림로봇(주)   90710  11-Dec    2.96
4462       휴마시스(주)  205470  14-Dec   -0.76
4468       흥아해운(주)    3280  11-Dec   -0.33

[535 rows x 4 columns]

In [18]:
a.to_csv('의성이형꺼.csv',encoding='cp949')

In [15]:
# 그래서 4년 연속인 애들이 얼마나 될까요? 밑에 숫자를 봅시다
df_7_frame.copy().drop_duplicates(['회사명'])

               회사명   거래소코드    회계년도  이자보상배율
0         (주)DB하이텍     990  11-Dec   -0.75
9         (주)HJ중공업   97230  11-Dec    0.55
18           (주)ST   11810  11-Dec    1.66
27      (주)강스템바이오텍  217730  15-Dec   -5.41
32        (주)강원에너지  114190  11-Nov  393.90
...            ...     ...     ...     ...
3419    한올바이오파마(주)    9420  11-Dec   -2.88
3428       한일철강(주)    2220  11-Dec    0.87
3437  현대바이오사이언스(주)   48410  11-Dec  -18.41
3446       휴림로봇(주)   90710  11-Dec    2.96
3455       휴마시스(주)  205470  14-Dec   -0.76

[406 rows x 4 columns]

In [16]:
df_9_frame.copy().drop_duplicates(['회사명'])

               회사명   거래소코드    회계년도       이자보상배율
0         (주)TCC스틸    2710  11-Dec         1.41
9         (주)골드앤에스   35290  11-Dec         1.13
18           (주)광무   29480  11-Dec        -3.01
27           (주)나노  187790  14-Dec  11111111.11
33         (주)네오리진   94860  11-Dec         1.61
...            ...     ...     ...          ...
1091       한국철강(주)  104700  11-Dec       -26.91
1100      한화솔루션(주)    9830  11-Dec         1.70
1109  현대바이오사이언스(주)   48410  11-Dec       -18.41
1118       현우산업(주)   92300  11-Dec         2.86
1127       휴림로봇(주)   90710  11-Dec         2.96

[131 rows x 4 columns]